@model List<AcunMedyaPortfoliaProject.Models.SocialMedia>


<ul class="intro-social">

    @foreach (var item in Model)
    {
        <li><a href="@item.Link">@item.Platform</a></li>
    }

</ul>








